/* Write your CSS code here */
.blog-list-container {
  display: flex;
  justify-content: space-between;
}

.blog-title {
  color: #12022f;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .blog-title {
    font-size: 20px;
  }
}

.blog-date {
  color: #9aa5b1;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .blog-date {
    font-size: 20px;
  }
}

.blog-description {
  color: #616a7c;
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .blog-description {
    font-size: 18px;
  }
}
